@font-face {
    font-family: Bitstream Vera Sans Mono Bold;
    src: url('VeraMoBd.eot?') format('eot'),
    url('VeraMoBd.ttf') format('truetype');
}

@font-face {
    font-family: Bitstream Vera Sans Mono;
    src: url('VeraMono.eot?') format('eot'),
    url('VeraMono.ttf') format('truetype');
}

.startstop{
    color: #FFFFFF;
    background-color: #000000;
    font-family: Bitstream Vera Sans Mono, Courier New;
    cursor: pointer;
}

.chordspan{
    color: #000000;
    font-family: Bitstream Vera Sans Mono, Courier New;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:0pt;
    letter-spacing:0;
    white-space: pre;
    font-size: 10% !important;
}

.chords{
    font-family: Bitstream Vera Sans Mono, Courier New;
    height:0.1em;
    cursor: pointer;
}

.songheading{
	color:#AAAAFF;
}

.lyrics{
    text-align:center;
    color: #FFFFFF;
    background-color: #000000;
    font-family: Helvetica, Arial;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 1em;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre-wrap;
    cursor: pointer; 
}

.indexhead{
    text-align: center;
    color: white;
    background-color: #000000;
    font-family:Bitstream Vera Sans Mono Bold,  Courier New Bold;
    padding: 0;
    margin-top: 0em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre;
}

.songlink{
    text-align: center;
    color: #AAAAFF;
    background-color: #000000;
    font-family:Bitstream Vera Sans Mono Bold,  Courier New Bold;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre;
    cursor: pointer;
}

.highlightedchord{
	color: #000000;                                              
	font-family: Bitstream Vera Sans Mono Bold, Courier New Bold; 
	background-color: #8CF2FF;                                    
	border-bottom-style: solid;                                    
	border-bottom-width: 0.1em;                                    
	border-bottom-color: #0000AA;                                  
}
.highlightedlyric{
	color: #FFFF00;
}

.underlinedlyric{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: #FF9900;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: #000000;
}