@font-face {
    font-family: Bitstream Vera Sans Mono Bold;
    src: url('VeraMoBd.eot?') format('eot'),
    url('VeraMoBd.ttf') format('truetype');
}

@font-face {
    font-family: Bitstream Vera Sans Mono;
    src: url('VeraMono.eot?') format('eot'),
    url('VeraMono.ttf') format('truetype');
}

.startstop{
    color: #000000;
    background-color: #FFFFFF;
    font-family: Bitstream Vera Sans Mono, Courier New;
    cursor: pointer;
}

.chordspan{
    color: #007fbf;
    background-color: #FFFFFF;
    font-family: Bitstream Vera Sans Mono, Courier New;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:0pt;
    letter-spacing:0;
    white-space: pre;
}

.chords{
    font-family: Bitstream Vera Sans Mono, Courier New;
    height:1.25em;
    cursor: pointer;
}

.songheading{
	color:#000099;
}

.lyrics{
    color: #666666;
    background-color: #FFFFFF;
    font-family:Bitstream Vera Sans Mono Bold,  Courier New Bold;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 1em;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre;
    cursor: pointer; 
}

.indexhead{
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    font-family:Bitstream Vera Sans Mono Bold,  Courier New Bold;
    padding: 0;
    margin-top: 0em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre;
}

.songlink{
    text-align: center;
    color: blue;
    background-color: #FFFFFF;
    font-family:Bitstream Vera Sans Mono Bold,  Courier New Bold;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom:1em;
    letter-spacing:0;
    white-space: pre;
    cursor: pointer;
}

.highlightedchord{
	color: #000000;                                              
	font-family: Bitstream Vera Sans Mono Bold, Courier New Bold; 
	background-color: #8CF2FF;                                    
	border-bottom-style: solid;                                    
	border-bottom-width: 0.1em;                                    
	border-bottom-color: #0000AA;                                  
}

.highlightedlyric{
	color: #000000;
}

.underlinedlyric{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: #FF9900;
}

body {
    -webkit-text-size-adjust: 100%;
}

div#image_fixed { 
position: fixed; 
bottom: 0; 
right: 0; 
} 

.parenthesis{
color:black;
}